
<!DOCTYPE html>
<html>
<head>
    <title>Tombol POST</title>
</head>
<body>
    <form action="#" method="post">
        <ol>
          <li>Berikan tingkat akurasi</li>
          <ul><li>Tingkat akurasi dihitung dengan matriks classification stats(contoh)</li></ul>
        <button type="submit" name="tombol" value="akurasi">kirim</button>
          <br>
          <br>
          <br>
          <br>
          <li>Prediksi sentimen</li>
          <ul><li>sentimen akan diprediksi berdasarkan input text(contoh)</li></ul>
        <button type="submit" name="tombol" value="prediksi">kirim</button>
        </ol>
    </form>
</body>
</html>
