<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Dropdown Form</title>
</head>
<body>
  <h1>Model-Model Prediksi Sentimen</h1>
  <ol>
    <li>Logistic Regression</li>
    <ul>
      <li>Penjelasannya</li><br>
    </ul>
    <li>CNN</li>
    <ul>
      <li>Penjelasannya</li><br>
    </ul>
    <li>NLP</li>
    <ul>
      <li>Penjelasannya</li><br>
    </ul>
    <li>LSTM</li>
    <ul>
      <li>Penjelasannya</li><br>
    </ul>
  </ol>
  <form action="#" method="POST">
    <label for="pilihan">Pilih opsi:</label>
    <select name="pilihan" id="pilihan">
      <option value="Logistic Regression">Logistic Regression</option>
      <option value="CNN">CNN</option>
      <option value="NLP">NLP</option>
      <option value="LSTM">LSTM</option>


    </select>
    <br>
    <button type="submit">Kirim</button>
  </form>
</body>
</html>
